.password-grid {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.email-grid {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.show-confirmation-button {
  right: 0;
  transform: translate(-50%, 40%);
}
